.gameover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 90, 0.5);
  z-index: 10;
  &__message {
    font-size: 5.75rem;
    margin: 0 0 1.5rem 0;
    color: white;
    text-transform: uppercase;
  }
  &__button {
    border: 2px dashed #ffba00;
    font-family: inherit;
    border-radius: 50px;
    background: none;
    color: #ffba00;
    font-size: 2rem;
    text-transform: uppercase;
    width: 340px;
    height: 100px;
    cursor: pointer;
    &:hover {
      background-color:rgba(255,255,255,0.1);
    }
  }
}