.Letters {
  margin: 0;
  padding: 0;
  display: flex;
  &__item {
    list-style: none;
  }
  &--matched {
    justify-content: flex-end;
    .Letters {
      &__item {
        width: 6.5vw;
        height: 7.5vw;
        margin: 0 5px;
      }
    }
  }
}